<app-main>
    <router-outlet></router-outlet>
</app-main>
<!--<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
        <p>Auto-resizing sidenav</p>
        <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
        <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
        </button>
    </mat-drawer>

    <div class="example-sidenav-content">
        <mat-toolbar color="primary">
            This fills the remaining space of the current row
            <span class="example-fill-remaining-space"></span>
            <button type="button" mat-button (click)="drawer.toggle()">
                Toggle sidenav
                <span class="iconify" data-icon="ic:round-account-circle" data-inline="false"></span>
            </button>
        </mat-toolbar>

    </div>

</mat-drawer-container>  -->