.iconify{
    font-size: 30px;
    color: #6710f271;
}

.button a:hover{
    color: #4d4952;
    .iconify{
        color: #4d4952;
    }
}
a:hover{
    text-decoration: none;
}
textarea{
    height: 200px;
}